.sequencer-tab {
  display: flex;
  align-items: flex-start;
  gap: var(--gap-factor);

  .sequences-list-container {
    flex-basis: 50%;
  }

  .sequences-preview-container {
    flex-basis: 50%;
    overflow: auto;
    overflow: hidden;
  }
}
