.sequencer-tab {
  display: flex;
  align-items: flex-start;
  gap: var(--gap-factor);

  .sequences-list-container {
    flex-basis: 50%;

    .sequences-list-actions {
      display: flex;
      gap: var(--gap-factor);
      align-items: center;
      justify-content: flex-end;
      margin-bottom: calc(var(--padding-factor) * 1);
    }
  }

  .sequences-preview-container {
    flex-basis: 50%;
    overflow: hidden;
  }
}
