.sequences-list-item {
  display: flex;
  gap: var(--gap-factor);
  width: 100%;
  padding: calc(var(--padding-factor) * 1);

  form {
    width: 100%;
  }

  .list-item {
    &__color {
      width: 8px;
      border-radius: var(--border-radius);
    }

    &__data {
      display: flex;
      align-items: center;
      flex-grow: 1;

      .fields {
        display: flex;
        flex-grow: 1;
        gap: var(--gap-factor);

        .field {
          display: flex;
          flex-direction: column;
          gap: calc(var(--gap-factor) * 0.5);
          flex-basis: 50%;
        }
      }

      .actions {
        display: flex;
        gap: var(--gap-factor);
      }
    }
  }
}
