.binary-editor-container {
  height: 100%;
  //overflow: auto;

  .binary-editor {
    display: flex;
    font: normal 16px "Consolas", monospace;
    height: 100%;

    .binary-editor-addresses {
      width: fit-content;
    }

    .binary-editor-ascii {
      margin-left: calc(var(--padding-factor) * 1);
      flex-grow: 1;
    }

    .binary-editor-scrollbar {
      overflow: auto;
      height: 100%;

      //To show the scroll bar
      width: 10px;

      &__spacer {
        width: 1px;
      }
    }

    .cell {
      padding: 0 calc(var(--padding-factor) * 0.5);
      line-height: inherit;

      &.header {
        font-weight: bold;
      }

      &.break-line {
        &::after {
          content: "\A";
          white-space: pre;
        }
      }

      &.is-null {
        color: var(--p-gray-400);
      }

      &.shrink {
        padding: 0 !important;
      }
    }
  }
}
