.binary-editor-container {
  height: 100%;
  //overflow: auto;

  .binary-editor {
    display: flex;
    font: normal 16px "Consolas", monospace;
    height: 100%;

    .binary-editor-addresses {
      width: fit-content;
      margin-right: var(--padding-factor);
    }

    .binary-editor-ascii {
      margin-left: calc(var(--padding-factor) * 1);
      flex-grow: 1;
    }

    .binary-editor-scrollbar {
      overflow: auto;
      height: 100%;

      //To show the scroll bar
      width: 10px;

      &__spacer {
        width: 1px;
      }
    }

    .cell {
      padding: 0 calc(var(--padding-factor) * 0.5);
      line-height: inherit;
      position: relative;

      &.header {
        font-weight: bold;
      }

      &.break-line {
        &::after {
          content: "\A";
          white-space: pre;
        }
      }

      &.is-null {
        color: var(--p-gray-400);
      }

      &.shrink {
        padding: 0 !important;
      }

      .tooltip {
        visibility: hidden;
        background-color: var(--card-bg-color);
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
        border-radius: var(--border-radius);
        padding: calc(var(--padding-factor) * 0.5) calc(var(--padding-factor) * 1);
        position: absolute;
        z-index: 1;
        left: 30px;
        top: 19px;
        display: flex;
        gap: calc(var(--gap-factor) * 0.5);

        .tooltip-color {
          width: 8px;
          border-radius: var(--border-radius);
        }
      }

      &:hover .tooltip {
        visibility: visible;
      }
    }
  }
}
