<div class="binary-editor-container"
     [style.max-height]="maxHeight !== null ? maxHeight + 'px' : null">
  <div class="binary-editor" [style.max-height]="maxHeight !== null ? maxHeight + 'px' : null"
       [style.line-height]="lineHeight + 'px'">
    <div class="binary-editor-addresses">
      <div class="cell header">Address</div>
      @for (address of addresses; track address) {
        <div class="cell">{{ address | hexlify:true }}</div>
      }
    </div>
    <div class="binary-editor-data">
      <span class="cell header">00</span>
      <span class="cell header">01</span>
      <span class="cell header">02</span>
      <span class="cell header">03</span>
      <span class="cell header">04</span>
      <span class="cell header">05</span>
      <span class="cell header">06</span>
      <span class="cell header">07</span>
      <span class="cell header">08</span>
      <span class="cell header">09</span>
      <span class="cell header">0A</span>
      <span class="cell header">0B</span>
      <span class="cell header">0C</span>
      <span class="cell header">0D</span>
      <span class="cell header">0E</span>
      <span class="cell header break-line">0F</span>
      @for (cell of visibleBinaryCells; let i = $index; track i; ) {
        <span class="cell" [attr.data-address]="i + paddedAddress"
              [ngClass]="{'break-line': i % 16 === 15, 'is-null': cell === 0}"
              [style.background-color]="visibleMetas[i] && visibleMetas[i]!.color ? visibleMetas[i]!.color : null"
        >
          {{ cell | hexlify:false:2 }}
          @if(visibleMetas[i] && visibleMetas[i]!.label) {
            <span class="tooltip">{{ visibleMetas[i]!.label }}</span>
          }
        </span>
      }
    </div>
    <div class="binary-editor-ascii">
      <span class="cell break-line shrink"></span>
      @for (cell of visibleBinaryCells; let i = $index; track i) {
        <span class="cell shrink" [attr.data-address]="i + paddedAddress"
              [ngClass]="{'break-line': i % 16 === 15, 'is-null': cell === 0}"
              [style.background-color]="visibleMetas[i] && visibleMetas[i]!.color ? visibleMetas[i]!.color : null"
        >{{ cell | ascii }}</span>
      }
    </div>
    <div class="binary-editor-scrollbar" [style.max-height]="maxHeight !== null ? (maxHeight - 20) + 'px' : null"
         [style.margin-top]="lineHeight + 'px'"
         (scroll)="onScrollbarScroll($event)">
      <div class="binary-editor-scrollbar__spacer" [style.height]="editorScrollbarHeight + 'px'"></div>
    </div>
  </div>
</div>
